$colors: (
    first: #101010,
    second: #ffeb99,
    third: #ffdc4d,
    fourth: #ffcc00,
);

@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}

$font-sizes: (
    xl: 3.5rem,
    lg: 2.5rem,
    md: 1.8rem,
    sm: 1.4rem,
    xs: 1.2rem
);

@function size($size) {
    @return map-get($map: $font-sizes, $key: $size);
}
