.form-div {
  background: color(third);

  .form-heading {
    font-size: size(lg);
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 20px 0px;
  }

  .form {
    text-align: center;

    .buttons-div {
      margin-top: 15px;

      button {
        text-decoration: none;
        color: color(first);
        padding: .5rem .8rem;
        border: 2px solid #101010;
        border-radius: 20px;
        font-weight: bold;
        margin: 0px 20px;
        cursor: pointer;
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        font-family: 'Libre Baskerville', serif;
        font-size: size(sm);
        margin-top: 15px;
      }

      input {
        border: 2px solid color(first);
        width: 15%;
        padding: 8px;
        margin-top: 10px;
        box-sizing: border-box;

        @media(max-width: 1200px) {
          width: 20%;
        }

        @media(max-width: 800px) {
          width: 25%;
        }

        @media(max-width: 650px) {
          width: 30%;
        }

        @media(max-width: 500px) {
          width: 35%;
        }
      }

      textarea {
        border: 2px solid color(first);
        width: 15%;
        padding: 8px;
        margin-top: 10px;
        box-sizing: border-box;

        @media(max-width: 1200px) {
          width: 20%;
        }

        @media(max-width: 800px) {
          width: 25%;
        }

        @media(max-width: 650px) {
          width: 30%;
        }

        @media(max-width: 500px) {
          width: 35%;
        }
      }
    }

    .error-message {
      font-weight: 400;
      color: red;
    }
  }
}

