.background-photo {
  height: 100%;
  background-color: color(third);
  position: relative;

  &-img {
    height: 100%;
  }

  .background-text-box {
    position: absolute;
    top: 30%;
    left: 50%;

    .background-text {
      font-family: 'Libre Baskerville', serif;
      font-size: size(lg);
      font-style: italic;
    }
  }

  .background-subtext-box {
    position: absolute;
    top: 40%;
    left: 60%;

    .background-subtext {
      font-family: 'Libre Baskerville', serif;
      font-size: size(md);
      font-style: italic;
    }
  }

  .background-link-box {
    position: absolute;
    top: 50%;
    left: 64.35%;

    .background-link {
      text-decoration: none;
      color: color(first);
      padding: .5rem .8rem;
      border: 2px solid #101010;
      border-radius: 20px;
      font-weight: bold;
    }
  }
}
