.background-photo {
  height: 100%;
  background-color: color(third);
  position: relative;

  &-img {
    height: 100%;
  }

  .background-text-box {
    position: absolute;
    top: 30%;
    left: 50%;

    @media(max-width: 960px) {
      left: 55%;
    }

    @media(max-width: 800px) {
      left: 62.5%;
    }

    @media(max-width: 650px) {
      display: none;
    }

    .background-text {
      font-family: 'Libre Baskerville', serif;
      font-size: size(lg);
      font-style: italic;

      @media(max-width: 800px) {
        font-size: size(md);
      }
    }
  }

  .background-subtext-box {
    position: absolute;
    top: 40%;
    left: 60%;

    @media(max-width: 800px) {
      left: 65%;
    }

    @media(max-width: 650px) {
      display: none;
    }

    .background-subtext {
      font-family: 'Libre Baskerville', serif;
      font-size: size(md);
      font-style: italic;

      @media(max-width: 800px) {
        font-size: size(sm);
      }
    }
  }

  .background-link-box {
    position: absolute;
    top: 50%;
    left: 64.35%;

    @media(max-width: 900px) {
      left: 69%;
    }

    @media(max-width: 800px) {
      left: 71%;
    }

    @media(max-width: 650px) {
      top: 3%;
      left: 42%;
    }

    @media(max-width: 500px) {
      left: 40%;
    }

    .background-link {
      text-decoration: none;
      color: color(first);
      padding: .5rem .8rem;
      border: 2px solid #101010;
      border-radius: 20px;
      font-weight: bold;
    }
  }
}
