<!--Slideshow-->
<section class="slideshow">
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 1</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/cat-head.jpeg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 2</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/grey-cat.webp" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 3</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/baby-cat.jpeg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 4</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/cat-snow.jpeg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 5</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/silly-cat.jpeg" alt="">
  </div>
</section>
<!--End of Slideshow-->
