<!--Slideshow-->
<section class="slideshow">
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 1</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/cat-head.jpeg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 2</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/grey-cat.webp" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 3</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/baby-cat.jpeg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 4</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/cat-snow.jpeg" alt="">
  </div>
  <div class="slideshow-slide">
    <div class="slideshow-content">
      <h2>Slide 5</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus dicta praesentium repellendus voluptate quasi, voluptates consectetur doloribus reprehenderit! Delectus, doloremque.</p>
    </div>
    <img src="assets/images/silly-cat.jpeg" alt="">
  </div>
</section>
<!--End of Slideshow-->

<h1 class="adopt-heading">Check out our felines!</h1>

<!--Gallery-->
<section class="gallery">
  <div class="cards-wrapper">
      <div class="card">
          <div class="card-overlay">
              <h1 class="card-overlay-heading">Sparky</h1>
              <p class="card-overlay-paragraph">British Shorthair</p>
              <button type="button" class="card-overlay-btn">Adopt Me!</button>
          </div>
          <img src="assets/images/British_Shorthair.jpg" alt="" class="card-img">
      </div>
      <div class="card">
          <div class="card-overlay">
              <h1 class="card-overlay-heading">Sparky</h1>
              <p class="card-overlay-paragraph">British Shorthair</p>
              <button type="button" class="card-overlay-btn">Adopt Me!</button>
          </div>
          <img src="assets/images/British_Shorthair.jpg" alt="" class="card-img">
      </div>
      <div class="card">
          <div class="card-overlay">
              <h1 class="card-overlay-heading">Sparky</h1>
              <p class="card-overlay-paragraph">British Shorthair</p>
              <button type="button" class="card-overlay-btn">Adopt Me!</button>
          </div>
          <img src="assets/images/British_Shorthair.jpg" alt="" class="card-img">
      </div>
      <div class="card">
          <div class="card-overlay">
              <h1 class="card-overlay-heading">Sparky</h1>
              <p class="card-overlay-paragraph">British Shorthair</p>
              <button type="button" class="card-overlay-btn">Adopt Me!</button>
          </div>
          <img src="assets/images/British_Shorthair.jpg" alt="" class="card-img">
      </div>
      <div class="card">
          <div class="card-overlay">
              <h1 class="card-overlay-heading">Sparky</h1>
              <p class="card-overlay-paragraph">British Shorthair</p>
              <button type="button" class="card-overlay-btn">Adopt Me!</button>
          </div>
          <img src="assets/images/British_Shorthair.jpg" alt="" class="card-img">
      </div>
      <div class="card">
          <div class="card-overlay">
              <h1 class="card-overlay-heading">Sparky</h1>
              <p class="card-overlay-paragraph">British Shorthair</p>
              <button type="button" class="card-overlay-btn">Adopt Me!</button>
          </div>
          <img src="assets/images/British_Shorthair.jpg" alt="" class="card-img">
      </div>
  </div>
</section>
<!--End of Gallery-->
