<div class="about-us">
  <div class="about-us-text">
    <h2 class="about-us-text-heading">About Us</h2>
    <p class="about-us-text-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laboriosam laborum obcaecati? Eius, consequatur laborum earum voluptate aliquam tempora ex. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, debitis rem animi eos minima tempora!</p>
  </div>
  <img src="assets/images/about_us_group_photo.jpeg" class="about-us-img" alt="">
</div>
<div class="mission">
  <h1 class="mission-heading">Our Mission</h1>
  <p class="mission-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora accusamus ex repudiandae suscipit. Eligendi, praesentium! Voluptatem temporibus perspiciatis iusto architecto.</p>
</div>
<div class="help-us">
  <img src="assets/images/group_of_cats.webp" class="help-us-img" alt="">
  <div class="help-us-text">
    <h2 class="help-us-text-heading">Help us help them</h2>
    <p class="help-us-text-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
  </div>
</div>
