.footer {
  background: linear-gradient(color(third), color(fourth));
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-header {
    display: flex;

    &-img {
      height: 60px; // 60px;
      width: 50px; // 50px;
    }

    &-text {
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      font-size: size(sm);
      color: color(first);
      display: flex;
      align-self: center;
      padding-right: 0.5rem;
    }

    @media(max-width: 280px) {
      display: none;
    }
  }

  &-social-media {
    .media-list {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-top: 1.5rem;
      padding-bottom: 2rem;

      &-item {
        padding: 1.2rem;

        .media-link {
          color: color(first);
          font-size: 40px;
          cursor: pointer;
        }
      }
    }
  }

  &-copyright {
    &-paragraph {
      color: color(first);
      font-weight: 500;

      @media(max-width: 280px) {
        text-align: center;
      }

      .italic-text {
        font-family: 'Libre Baskerville', serif;
      }
    }
  }
}

$socialMediaColors: 1 #3b5998, 2 #55acee, 3 #D62976, 4 #b31217;

@each $color in $socialMediaColors {
    .media-list-item:nth-child(#{nth($color, 1)}) .media-link {
        color: nth($color, 2);
    }
}
